* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --purple: #820AD1;
    --purple-dark: #6B07B0;
    --white: #ffff;
    --dark: #0B0014;
    --gray-text: #6b6b6b;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--dark);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.8);
}

.logo-img {
    height: 26px;
}

header nav {
    display: flex;
    gap: 25px;

}

header nav a {
    color: var(--dark);
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: var(--purple);
}

.btn-nubank {
    background-color: var(--purple-dark);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
}

.hero {
    min-height: 80vh;
    background: url(./img/banner-home.png) center 0 / cover no-repeat;
    padding: 30px 40px 80px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
    border-radius: 0 0 35px 35px;
}

.hero::before {
    content: '';
    position: absolute;
    border-radius: inherit;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
}

.hero-content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 48px;
    position: relative;
    z-index: 1;
}

.hero-text {
    max-width: 600px;

}

.hero-text h1 {
    color: var(--white);
    font-size: 45px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 32px;
}

.hero-card {
    background-color: var(--white);
    border-radius: 16px;
    padding: 32px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.hero-card h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
}

.hero-card label {
    display: block;
    font-size: 14px;
    color: var(--gray-text);
    margin-bottom: 8px;
}

.hero-card input {
    width: 100%;
    padding: 12px 16px;
    border: none;
    border-radius: 20px;
    background-color: #f4f4f4;

}


.btn-confirm {
    width: 100%;
    background-color: var(--purple);
    padding: 14px;
    border-radius: 8px;
    font-size: 14px;
    font-size: bold;
    font-weight: 700;
    border: none;
    cursor: pointer;
    color: var(--white);
    margin-top: 10px;
}

.services {
    padding: 60px 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;

}

.services a {
    color: var(--purple);
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: color 0.4s ease;
}

.services a:hover {
    color: var(--purple-dark);
}

.card-section {
    background-color: var(--dark);
    padding: 100px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.credit-card {
    width: 360px;
    height: 220px;
    background: linear-gradient(135deg, var(--purple), var(--purple-dark));
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 20px 40px rgba(130, 10, 209, 0.3);
}

.card-chip {
    background: linear-gradient(135deg, #FFD700, #FFA500);
    height: 35px;
    width: 45px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.card-number {
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

.card-info {
    display: flex;
    justify-content: space-between;
}

.card-info span{
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card-info strong {
    font-size: 24px;
    color: var(--white);
}

.card-text {
    max-width: 480px;

}

.card-text h2 {
    color: var(--white);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 16px;
}

.card-text p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.7;
    margin-bottom: 24px;
}

.card-text ul {
    list-style: none;
    margin-bottom: 24px;

}

.card-text ul li {
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    padding: 6px;

}

.card-text ul li::before {
    content: '✓';
    color: var(--purple);
    margin-right: 10px;
}


.btn-purple {
    background-color: var(--purple-dark);
    display: inline-block;
    color: var(--white);
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 700px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    transition: transform 0.15s ease;
}

.btn-purple:hover {
    background-color: var(--purple);
    transform: scale();
}

.btn-purple:active {
    transform: scale(0.90);
}


.cta {
    padding: 100px 40px;
    align-items: center;
    background: linear-gradient(135deg, var(--purple), var(--purple-dark));
}


.cta h2 {
    color: var(--white);
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 24px;
}


.cta p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 32px;

}

.cta .btn-cta {
    display: inline-block;
    background-color: var(--white);
    color: var(--purple);
    padding: 16px 40px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.cta .btn-cta:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.3);
}

footer {
    background-color: var(--dark);
    padding: 60px 40px 30px;
}

.footer-top {
    max-width: 1200px;
    margin: 0 auto 40px;
    display: flex;
    gap: 60px;
}

.firt-child {
    flex: 2;
}


.footer-logo {
    height: 22px;
    margin-bottom: 20px;

}

.footer-top h4 {
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 16px;

}


.footer-top a {
    display: block;
    text-decoration: none;
    color: var(--gray-text);
    font-size: 14px;
    margin-bottom: 10px;

}

.firt-child p{
    color: var(--gray-text);
}

.footer-bottom {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}